.content {
    display: flex;
}

.sidebar {
    background: #eaeaea;
    flex: 0 0 18%;

    @include respond(phone) {
        display: none;
    }

    .side-nav {
        width: 100%;
        list-style-type: none;

        &__item {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
        }

        &__link {
            text-decoration: none;
            color: $text-color;
        }
    }
}

.products {
    flex: 1;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    // justify-content: space-between;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .custom-select {
        position: relative;
        display: block;
        max-width: 400px;
        min-width: 180px;
        margin: 0 auto;
        background-color: #bf2957;
        z-index: 10;
      }
      .custom-select select {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 15px 15px;
        font-size: 14px;
        color: #fff;

        option{
            color: #010101;
        }
      }
      .custom-select:after {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        line-height: 38px;
        content: "∨";
        text-align: center;
        color: #fff;
        font-size: 24px;
        z-index: -1;
      }

    .select-mobile {
        display: none;
        width: 100%;

        @include respond(phone) {
            display: block;
        }
    }


}


.products__card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 14px -6px;
    // flex: 0 0 20%;
    width: 23%;
    margin: 5px;

    @include respond(tab-port) {
        width: 47%;
    }

    @include respond(phone) {
        width: 100%;
    }

    &-title {
        font-weight: bold;
        font-size: 17px;
        padding: 10px;
        min-height: 85px;
    }

    &-body {
        background-color: #fff;

        @include respond(tab-port) {
            display: flex;
        }

        @include respond(phone) {
            // font-size: 10px;
        }

        p {
            display: inline-block;
            height: 90px;
            font-size: 14px;
        }
    }

    &-desc {
        background-color: #eaeaea;
        padding: 10px;
        margin: 0 0 15px 0;

        @include respond(tab-port) {
            margin-left: 5px;
        }

        @include respond(phone) {
            // font-size: 10px;
        }
    }

    &-footer {
        border-bottom: 1px dashed #ccc;
        padding: 0 0 10px 5px;
        display: flex;
        justify-content: space-between;
    }

    &-price {
        font-size: 14px;
        align-self: center;
    }

    &-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &-img {
        max-width: 90%;
    }


}